.auth{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    .info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: end;
       align-self: self-start;
        
        div{
            margin: 5px;
        }
        .name{
            text-transform: uppercase;
        }
        .logout{
            button{
                width: 150px;
                height: 30px;
                background: lightcoral;
                border: none;
                color:white;
               
                cursor: pointer;
            }
            button:focus{
                outline: none;
            }
            button:hover{
                background: #000;
                color: #fff; 
                transition: all 0.5s;
            }
        }
    }
    .tasks{
        flex-grow: 1;
        text-align: center;
        .add{
            button{
                width: 150px;
                height: 30px;
                background: lightcoral;
                border: none;
                color:white;
                margin: 15px;
                cursor: pointer;
            }
            button:focus{
                outline: none;
            }
            button:hover{
                background: #000;
                color: #fff; 
                transition: all 0.5s;
            }
        }
    }
    .user-task{
        display: flex;
        flex-direction: column;
    }
    .task-container{
        flex-grow:1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .btn{
            max-width: 1600px;
            button{
                width: 150px;
                height: 30px;
                background: lightcoral;
                border: none;
                color:white;
                margin: 15px;
                cursor: pointer;
            }
            button:focus{
                outline: none;
            }
            button:hover{
                background: #000;
                color: #fff; 
                transition: all 0.5s;
            }
        }
        form{
            width: 300px;
            border: 1px solid grey;
            .add-task{
                text-align: center;
                .input-task{
                    input{
                        width: 200px;
                        height: 30px;
                        padding: 10px;
                        border: 0px;
                        cursor: pointer;
                        transition: all 0.3s;
                        margin: 5px;
                    }
                    input:focus{
                        outline: none;
                    }
                    input:hover{
                        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
                    }
                }
                .description{
                    textarea{
                        resize: none;
                        width: 200px;
                        height: 100px;
                    }
                }
                .btn{
                    max-width: 1600px;
                    button{
                        width: 150px;
                        height: 30px;
                        background: lightcoral;
                        border: none;
                        color:white;
                        margin: 15px;
                        cursor: pointer;
                    }
                    button:focus{
                        outline: none;
                    }
                    button:hover{
                        background: #000;
                        color: #fff; 
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}